

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kanit", sans-serif;
  background: rgb(2,19,6);
  background: linear-gradient(90deg, rgb(9, 19, 11) 0%, rgb(43, 21, 21) 50%, rgb(25, 24, 51) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  margin: 2rem 0;
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  align-items: center;
  width: fit-content;
  border-radius: 15px;
  padding: 10px;
}

section {
  display: flex;
  width: 70rem;
  margin-bottom: 2rem;
  border-radius: 15px;
  padding: 10px;
}

.button {
  border: 1px solid rgb(13, 22, 71);
  text-transform: uppercase;
  width: fit-content;
  padding: 0.3rem 1.5rem;
  background: rgb(250, 78, 86);
  background: radial-gradient(circle, rgb(73, 47, 58) 0%, rgba(148,187,233,1) 100%);
  border-color: black;
  color: black;
  font-weight: 500;
  font-family: "Kanit", sans-serif;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 0.25rem;
}

.button:hover {
    background-color: orange;
    border-color:rgb(64, 70, 64);
    cursor: pointer;
  }

  .button:focus {
    outline: none;
    border-color:orange;
    background-color: rgb(144, 185, 144);
    color: white;
  }

  .button.addTask {
    font-size: 3rem;
    padding: 0 0 0.4rem 0;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 1rem;
    margin-top: 2rem;
    color: white;
    
  }

  .button.moveTask {
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0;
    line-height: 1rem;
  }

  .button.delete {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-color: pink;
  }
    .delete:hover {
      background-color: rgb(34, 14, 65);
      border-color: rgb(19, 5, 5);
    }
  


@media only screen and (max-width: 75rem) {
  section {
    width: 100%;
    flex-direction: column;
  }
}
